---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleThumbnail from "../../components/articles/ArticleThumbnail.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

export const prerender = true;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h1 class="mb-6 text-3xl font-extrabold">Blog Posts</h1>
      <div class="grid grid-cols-1 gap-x-6 gap-y-2 md:grid-cols-2 lg:grid-cols-3">
        {
          posts.map((post, index) => (
            <ArticleThumbnail
              withVerticalGap={true}
              post={post}
              index={index}
              totalPost={posts.length}
              lazyThumbnail={index >= 9}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
