---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

export const prerender = true;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h1 class="mb-6 text-3xl font-extrabold">Blog Posts</h1>
      <div class="grid grid-cols-1 gap-x-6 gap-y-2 md:grid-cols-2 lg:grid-cols-3">
        {
          posts.map((post, index) => (
            <article
              class={`py-4 ${index < posts.length - 1 ? "border-base-300 border-b md:border-b-0" : ""}`}
            >
              <a
                href={`/articles/${post.id}/`}
                class="group rounded-box hover:bg-accent/10 -m-3 block p-3 transition-colors"
              >
                {post.data.heroImage && (
                  <Image
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    alt=""
                    class="rounded-box mb-3 h-32 w-full object-cover"
                  />
                )}
                <h2 class="group-hover:text-primary text-lg font-extrabold transition-colors">
                  {post.data.title}
                </h2>
                <p class="text-base-content/70 mt-1 text-sm">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </article>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
