---
import type { AnalyticsSnapshot, ArticleAnalyticsRow } from "../../../../lib/analytics/types";
import { getDoStub } from "../../../../lib/db/do-client";
import FormattedDate from "../../../articles/_components/FormattedDate.astro";
import { type CollectionEntry } from "astro:content";

type Props = {
  article: CollectionEntry<"blog">;
  analytic: ArticleAnalyticsRow;
};

const prop: Props = Astro.props;
const { article, analytic } = prop;
const comments = await getDoStub().getCommentsBySlug(article.id);
---

<a
  href={`/admin/articles/${article.id}`}
  class="bg-base-100 flex w-full gap-6 p-4 md:my-4 md:rounded-2xl"
  hx-boost="false"
>
  <img src={article.data.heroImage?.src} class="aspect-video max-w-40 rounded-2xl" />
  <div class="flex w-full flex-col">
    <p class="line-clamp-2 flex-1 font-bold md:text-lg">{article.data.title}</p>
    <p class="md:text-md line-clamp-2 text-sm">
      Published at: <span>
        <FormattedDate date={article.data.pubDate} />
      </span>
    </p>
  </div>
  <div class="m-auto my-auto hidden min-w-36 flex-col sm:block sm:flex">
    <p class="text-xs">Views</p>
    <p class="text-primary text-xl">{analytic.pageviews7d}</p>
    <p class="decoration-base-content text-xs">Comments</p>
    <p class="text-primary text-xl">{comments.length}</p>
  </div>
</a>
