---
import {
  ModerationStatus,
  type CommentCounts,
  type ModerationStatusType,
} from "../../lib/comments/types";

type Props = {
  filterStatus: ModerationStatusType | null;
  counts: CommentCounts;
};
const { filterStatus, counts } = Astro.props;
---

<div class="mx-auto flex w-full flex-wrap gap-2" role="tablist">
  <a
    href="/admin/comments"
    role="tab"
    class:list={["btn", filterStatus === null ? "btn-accent" : "btn-ghost"]}
  >
    All <span class="badge badge-accent badge-xs ml-1">{counts.all}</span>
  </a>
  <a
    href="/admin/comments?status=0"
    role="tab"
    class:list={[
      "btn",
      filterStatus === ModerationStatus.UNVERIFIED ? "btn-secondary" : "btn-ghost",
    ]}
  >
    Unmoderated <span class="badge badge-xs ml-1">{counts.unverified}</span>
  </a>
  <a
    href="/admin/comments?status=1"
    role="tab"
    class:list={["btn", filterStatus === ModerationStatus.OK ? "btn-success" : "btn-ghost"]}
  >
    OK <span class="badge badge-success badge-xs ml-1">{counts.ok}</span>
  </a>
  <a
    href="/admin/comments?status=2"
    role="tab"
    class:list={["btn", filterStatus === ModerationStatus.WARNING ? "btn-warning" : "btn-ghost"]}
  >
    Warning <span class="badge badge-warning badge-xs ml-1">{counts.warning}</span>
  </a>
  <a
    href="/admin/comments?status=3"
    role="tab"
    class:list={["btn", filterStatus === ModerationStatus.DANGEROUS ? "btn-error" : "btn-ghost"]}
  >
    Alert <span class="badge badge-error badge-xs ml-1">{counts.dangerous}</span>
  </a>
</div>
