---
export const prerender = false;

import BaseAdminLayout from "../../layouts/BaseAdminLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE, ADMIN_DOCK } from "../../consts";

const user = Astro.locals.user;
---

<BaseAdminLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  dockProp={{ menus: ADMIN_DOCK, currentPath: "/admin/index" }}
>
  <div>
    <p>You are authenticated. Admin functionality coming soon.</p>
    {
      user && (
        <div class="user-info">
          <dl>
            <dt>Email</dt>
            <dd>{user.properties.email}</dd>
            <dt>User ID</dt>
            <dd>{user.properties.userID}</dd>
            {user.properties.oauthID && (
              <>
                <dt>OAuth ID</dt>
                <dd>{user.properties.oauthID}</dd>
              </>
            )}
          </dl>
        </div>
      )
    }

    <p><a href="/">← Back to Home</a></p>
  </div>
</BaseAdminLayout>
